/* GENERAL LAYOUTT */

















input {
    position: relative;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    outline: none;
    border: 1px solid #e1e1e1;
    background-color: #f2f2f2;
    color: #777;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}

.gform_wrapper select {
    margin-bottom: 15px;
}

input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
    font-family: fontello;
    color: #cd282f;
    font-size: 32px;
    content: '\e827';
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
} 

input[type=submit] {
    display: inline-block;
    height: 44px;
    float: left;
    clear: both;
    margin-top: 30px;
    padding: 0 35px;
    border-radius: 2px;
    font-family: $title-font-family;
    font-size: 16px;
    font-weight: 700;
    height: 55px;
    line-height: 55px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #cd282f;
    border-bottom: 3px solid rgb(85, 17, 20);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color:  rgb(85, 17, 20)
    }
}


.gform_wrapper .top_label li.gsection.gf_scroll_text .gsection_description {
    font-size: 16px !important;
}

/* EVENT PAGE */
.event-list-wrap {
    max-width: 820px;
    margin: 0 auto;
    display: block;
    width: 100%; 
}
.itinerary {
    h1.section-title {
        font-size: 38px;
        margin-bottom: 60px;
    }
    h2.section-title {
        font-size: 32px;
        margin-top: 60px;
        margin-bottom: 80px;
    }
    h3.section-title {
        font-size: 22px;
        color: #cd282f;
        border: none;
        @media screen and (min-width:1024px) {
            font-size: 34px;
            &:after {
                border-top: 1px solid #aaa;
            }
        }
    }
    ul.schedule {
        position: relative;
        display: block;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #aaa;
        li {
            display: block;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom:1px solid #ccc;
            &:last-child {
                border: none;
             }
            }
        @media screen and (min-width:1024px) {
            border: none;
        }
        &.last {
            border: none;
        }
    }
    .event-date,
    .divider,
    .event-detail {
        display: block;
        @media screen and (min-width:1024px) {
            display: inline-block;
        }
    }
    .divider {
        display: none;
        padding: 0 10px;
        @media screen and (min-width:1024px) {
            display: inline-block;
        }
    }
    .event-date {
        font-weight: bold;
        @media screen and (min-width:1024px) {
            max-width: 160px;
            width: 100%;
        }
        &.early {
            color: #38a325;
        }
        &.main {
            color: #03213f;
        }
        &.after {
            color: #cd282f;
        }
    }
}

/* TRAILS ARCHIVE */
.trails {
    position: relative;
    display: block;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #aaa;
}
ul.post-list {
    position: relative;
    display: block;
    li {
        display: block;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #aaa;
    }
    h2 {
        font-size: 32px;
        margin-bottom: 5px;
    }
}

.trail-stats {
    display: block;
    position: relative;
    font-size: 18px;
    span {
        display: block;
        margin-bottom: 8px;
        @media screen and (min-width:1024px) {
            display: inline-block;
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid #aaa;
            margin-bottom:0;
            &:last-child {
                border: none;
            }
        }
    }
}


.pagination {
    display: block;
    position: relative;
    span, a {
        display: inline-block;
        padding: 4px 15px;
        font-size: 22px;
        margin-right:10px;
        background-color: #161616;
        color: #fff;
        &.current {
            background-color: #cd282f;
        }
    }
}