/* GENERAL LAYOUT */
.count-down {
    max-width: 600px;
    margin: 0 auto 35px;

    display: none;

    @include respond-to(medium) { 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        
    > div {
        text-align: center;
        width: 115px;
        padding: 10px;
        border-radius: 5px;
        background: $brand-color2;
        display: block;

        span {
            padding: 15px;
            border-radius: 3px;
            background: #ececec;
            display: block;
            font-family: $title-font-family;
            font-weight: $title-font-weight;
            font-size: 2rem;
        }
    }

    .smalltext{
        padding: 5px 0 0;
        font-size: 1rem;
        color: #fff;
    }
}

a.read-more {
    display: inline-block;
    padding: 5px 10px 4px;
    border: 1px solid $brand-color2;
    background-color: $brand-color2;
    color: $brand-color1;
    font-size: 1.2rem;
    i {
        position: relative;
        top: 1px;
        font-size: 1rem;
        margin-left: 4px;
    }
    &:hover {
        background-color: transparent;
        color: $brand-color2;
    }
}


/* REGISTER */
input {
    position: relative;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    outline: none;
    border: 1px solid #e1e1e1;
    background-color: #f2f2f2;
    color: #777;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}

.gform_wrapper select {
    margin-bottom: 15px;
}

input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
    font-family: fontello;
    color: #cd282f;
    font-size: 32px;
    content: '\e827';
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
} 

input[type=submit] {
    display: inline-block;
    height: 44px;
    float: left;
    clear: both;
    margin-top: 30px;
    padding: 0 35px;
    border-radius: 2px;
    font-family: $title-font-family;
    font-size: 16px;
    font-weight: 700;
    height: 55px;
    line-height: 55px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #cd282f;
    border-bottom: 3px solid rgb(85, 17, 20);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color:  rgb(85, 17, 20)
    }
}

.gform_wrapper .top_label li.gsection.gf_scroll_text .gsection_description {
    font-size: 16px !important;
}



/* TRAILS ARCHIVE */
.trails {
    position: relative;
    display: block;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #aaa;
}
ul.post-list {
    position: relative;
    display: block;
    li {
        display: block;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #aaa;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 5px;
        a {
        color: $base-text-color;
        }
    }
}

.trail-stats {
    display: block;
    position: relative;
    font-size: 18px;
    margin-bottom: 15px;
    div {
        display: block;
        margin-bottom: 8px;
        @media screen and (min-width:1024px) {
            display: inline-block;
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid #aaa;
            margin-bottom:0;
            &:last-child {
                border: none;
            }
        }
    }

    .level {
        position: relative;
        display: inline-block;
        padding-left: 40px;

        &:after {
            content: "";
            width: 28px;
            height: 28px;
            display: block;
            position: absolute;
            top: 50%;
            left: 7px;
            -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
        }
        &.hard {
            color: $hard-trails;
            &:after {
                background: $hard-trails;
                -webkit-transform: translateY(-80%) rotate(45deg);
                transform: translateY(-80%) rotate(45deg);
                width: 25px;
                height: 25px;
            }
        }
        &.moderate {
            color: $moderate-trails;
            &:after {
                background: $moderate-trails;
            }
        }
        &.easy {
            color: $easy-trails;
            &:after {
                background: $easy-trails;
                border-radius: 100%;
            }
        }
    }

    .rating.hard {
        color: $hard-trails;
    }
}


.pagination {
    display: block;
    position: relative;
    span, a {
        display: inline-block;
        padding: 4px 15px;
        font-size: 22px;
        margin-right:10px;
        background-color: #161616;
        color: #fff;
        &.current {
            background-color: #cd282f;
        }
    }
}

.embed-container {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: 
    hidden; 
    max-width: 100%; 
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.amenities {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    .box {
        font-size: 1rem;
        width: 480px;
        margin: 5px 5px 25px;
        h3 {
            margin-bottom: 0;
            font-size: 1.25rem;
        }
    }
}


/* NEWS CONTENT */
.news {

    .post-repeat {
        position: relative;
        overflow: hidden;
        display: block;
        border-bottom: 1px solid #c6c6c6;
        margin-bottom: 50px;
        padding-bottom: 25px;

        .post-img > a > img {
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }

        .post-content h2 {
            @include respond-to(medium) {
                font-size: 2rem; 
            }
        }
    }

}