/* -------------------------- */
/* ---    MAIN FOOTER     --- */
/* -------------------------- */
.footer-main {

}

.the-closing {
    padding: 40px 0;

    background-color: $footer-top;  
    color: #ccc;

    a {
        color: #ccc;
        &:hover {
            color: #fff;
        }
    }

    h3 {
        padding-bottom: 10px;
        margin-bottom: 25px;
        border-bottom: 1px dashed #6d6d6d;
        color: #6d6d6d;
        font-size: 24px;
        @include respond-to(medium) {
            display: inline-block;
            width: 380px;
            text-align: center;
        }
    }

    @include respond-to(medium) {
        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

.details {
    li.share {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 49px;
            height: 49px;

            background-color: $brand-color1;
            border: 1px solid $brand-color1;
            color: $brand-color2;

            border-radius: 50%;
        }
    }
}


.copyright {
    padding: 15px 0;

    background-color: $footer-bottom;

    font-size: .875rem;
    text-align: center;
    color: darken($brand-color1, 25%);
    a {
        color: darken($brand-color1, 25%); 
        &:hover {
            color: $brand-color1;
        }
    }
    .divider {
        margin: 0 15px;
    }
}

.mobile-reg {
    background-color: #ffffff;
    border-top: 1px solid #dfdfdf;
    bottom: 0;
    height: 83px;
    padding: 18px;
    position: fixed;
    width: 100%;
    z-index: 99999;

    .wrapper {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .mobile-cta {
        font-family: $title-font-family;
        font-weight: $title-font-weight;
        font-size: .75rem;
    }

    @include respond-to(large) {
        display: none;
    }
}