/* -------------------------- */
/* ---    MAIN FOOTER     --- */
/* -------------------------- */
.the-closing {
    padding: 40px 0;

    background-color: $footer-top;  
    color: #ccc;

    a {
        color: #ccc;
        &:hover {
            color: #fff;
        }
    }
    div {
        margin-bottom: 35px;
    }

    h3 {
        padding-bottom: 10px;
        margin-bottom: 25px;
        border-bottom: 1px dashed #6d6d6d;
        color: #6d6d6d;
        font-size: 24px;
        @include respond-to(large) {
            display: inline-block;
            width: 380px;
            text-align: center;
        }
    }

    @include respond-to(medium) {
        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.quick-links li {
    margin: 10px 0;
    
    a {
        padding: 5px 0;
    }

    &:nth-of-type(1) {
        margin-top: 0;
    }
}

.details {
    li.share {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        margin-bottom: 30px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 49px;
            height: 49px;

            background-color: #ccc;
            border: 1px solid #ccc;
            color: $base-text-color;

            border-radius: 50%;

            margin-right: 15px;

            &:hover {
                background-color: #fff;
                color: #cd282f;
            }
        }

    }
    
    i.fa.fa-envelope {
        margin-right: 5px;
    }
    
    li:nth-of-type(2),
    li:nth-of-type(5) {
        font-size: 1.375rem;
        font-weight: 700;
        color: #6d6d6d;
    }

    li:nth-of-type(4) {
        margin-bottom: 20px;
    }
    
}


.copyright {
    padding: 15px 0;

    background-color: $footer-bottom;

    font-size: .875rem;
    text-align: center;
    color: darken($brand-color1, 25%);
    a {
        color: darken($brand-color1, 25%); 
        &:hover {
            color: $brand-color1;
        }
    }
    .divider {
        margin: 0 15px;
    }
}

.mobile-reg {
    background-color: #ffffff;
    border-top: 1px solid #dfdfdf;
    bottom: 0;
    height: 83px;
    padding: 18px;
    position: fixed;
    width: 100%;
    z-index: 99999;

    .wrapper {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .mobile-cta {
        font-family: $title-font-family;
        font-weight: $title-font-weight;
        font-size: .75rem;
    }

    @include respond-to(large) {
        display: none;
    }
}