/* HOMEPAGE VIDEO */
// wraps video, scroll & jumbo-tron
.hero-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: none;

    @include respond-to(medium) {
        display: block;
    }
}

// video container
.video-container {
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100vh;
}

// large date & text
.jumbo-tron {
    position: absolute;
    overflow: visible;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 0;

    .usp {
        position: absolute;
        bottom: 120px;
        left: 20px;
        width: 475px;
        height: 260px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        color: $brand-color1;
        font-family: $title-font-family;
        line-height: normal;

        text-shadow: 2px 4px 3px rgba(0,0,0,0.1);

        @include respond-to(xlarge) {
            bottom: 50px;
        }

        @include respond-to(xlarge) {
            left: 50px;
        }
    }

    .big-day,
    .mon-yr {
        width: 50%;
    }

    .big-day {
        align-self: flex-start;
        font-size: 12rem;
        height: 220px;
    }

    .mon-yr {
        display: flex;
        flex-direction: column;
    }

    .month {
        position: relative;
        top: 40px;
        font-size: 5rem;
    }
    .year {
        position: relative;
        top: 25px;
        font-size: 3.785rem;
        letter-spacing: 20px
    }
    .message {
        width: 100%;
        font-size: 1.5rem;
        border-top: 1px solid rgba(255,255,255,.7);
        padding-top: 10px;
    }
}

// scroll btn
a.btn-scroll {
    position: absolute;
    bottom: 10px;
    left: 50%;
    @include translate(-50%,0);

    color: $brand-color1;
    display: block;
    
    font-size: 2rem;
    line-height: normal;

    z-index: 1;
}


/* SUMMARY SECTION */
.summary {

    .main-title {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #c6c6c6;

        font-size: 1.625rem;

        @include respond-to(medium) {
            font-size: 2.8rem;
        }

        @include respond-to(large) {
            font-size: 4rem;
            text-align: center;
            line-height: normal;

            // reset
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .details {
        span, a {
            display: block;
        }

        .dates {
            font-size: 1.5rem;
            font-weight: 700;

            @include respond-to(medium) {
                font-size: 2rem;
            }
        }

        .location {
            color: $base-text-color;
            font-size: 1.375rem;
            font-weight: 700;
            margin-bottom: 25px;

            @include respond-to(medium) {
                font-size: 1.5rem;
            }
        }
    
        @include respond-to(large) {
            position: relative;
            text-align: center;

            .dates {
                display: inline-block;
                background-color: $default-bg-color;
                padding: 0 15px;
                z-index: 2;
            }

            &:before {
                content: "";
                position: absolute;
                top: 17px;
                bottom: 0;
                left: .6em;
                right: .6em;
                z-index: 1;
                border-top: 1px solid #c6c6c6;
                margin-top: .6em;
            }
        }
    }
}

/* ADDITIONAL SECTIONS */
.sponsors,
.details,
.featured,
.latest-news,
.generic {

    h2 {
        margin-bottom: 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid #c6c6c6;

        font-size: 1.5rem;

        @include respond-to(medium) {
            font-size: 2rem;
        }
        
        @include respond-to(large) {
        
            font-size: 2.5rem;
            border-bottom: 0;
            padding-bottom: 0;

            text-align: center;

            span {
                background-color: $default-bg-color;
                padding: 0 15px;
                z-index: 2;
            }

            &:before {
                content: "";
                position: absolute;
                top: 13px;
                bottom: 0;
                left: .6em;
                right: .6em;
                z-index: 1;
                border-top: 1px solid #c6c6c6;
                margin-top: .6em;
            }
        }
    }

}

/* FEATURED IMAGES */
.featured {
    display: none;
    @include respond-to(large) {
        display: block;
    }

}
// the images
.highlights {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        width: 19%;
        img {
            width: 100%;
            height: auto;
            max-height: 250px;
        }
    }
}


/* TRAIL LIST SECTION */
@include respond-to(large) {
    .desktop-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 35px;
    }
}

.trail-list {
    display: block;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #c6c6c6;

    &.last {
        border: none;
    }

    li {
        padding: 10px 0 0 10px;
        font-size: 1.25rem;
    }

    .level {
        
        padding-left: 0;

        i {
            position: relative;
            top: 4px;

            font-size: 1.75rem;
            margin-right: 5px;
        }
        h3 {
            display: inline-block;
            font-size: 1.25rem;
            padding-left: 38px;

            &:before {
                content: "";
                width: 28px;
                height: 28px;
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }

        h3.easy {
            color: $easy-trails;
            &:before {
                background: $easy-trails;
                border-radius: 100%;
            }
        }

        h3.moderate {
            color: $moderate-trails;
            &:before {
                background: $moderate-trails;
            }
        }

        h3.hard {
            color: $hard-trails;
            &:before {
                background: $hard-trails;
                -webkit-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
                width: 25px;
                height: 25px;
            }
        }
    }

    .fa-circle {
        position: relative;
        top: -3px;

        margin-right: 5px;
        font-size: .5rem;
    }

    @include respond-to(large) {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
        width: 33.33333%;
    }
}

.requirements {
    position: relative;
    clear: both;
    padding: 25px 0 0;
    margin: 35px 0 0;
    border-top: 1px solid #c6c6c6;
    font-size: 1rem;
    .easy {
        font-weight: 700;
        color: $easy-trails;
    }
    .moderate {
        font-weight: 700;
        color: $moderate-trails;
    }
    .hard {
        font-weight: 700;
        color: $hard-trails;
    }
}

/* SPONSORS SECTION */
.sponsors {

    .logos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        width: 100%;

        a {
            margin-bottom: 50px;

            img {
                width: 100%;
                height: auto;
            }

            @include respond-to(medium) { 
                max-width: 300px;
            }
        }
        @include respond-to(medium) { 
            justify-content: space-around;
        }

        @include respond-to(large) { 
            align-items: center;
            align-content: center;
        }
    }
    @include respond-to(medium) { 
        margin-bottom: 60px;
    }
}

/* BLOG UPDATES SECTION */
.latest-news {
    display: none;
    // @include respond-to(large) { 
    //     display: block;
    // }
}

.latest-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .post {
        display: flex;
        flex-direction: column;
        width: 30%;

        &:hover {
            color: $base-text-color;
        }
    }

    .post-img {
        max-height: 250px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .post-content {
        color: $base-text-color;

        h4 {
            font-size: 1.25rem;
        }
        p {
            font-size: 1.125rem;
        }
    }
}
