.sidebar-navigation{
    bottom: 0;
    height: 100%;
    right: -120%;
    padding: 70px 60px 50px 60px;
    position: fixed;
    top: 0;
    width: 85%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch; 
    @include transition(all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1));

    background-color: #111;
}

.sidebar-navigation.open{
    right: 0;
}

.sidebar-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    background: rgba(225,225,225,.6);
}

.sidebar-overlay.open {
    display: block;
}

.sidebar-menu {
    padding-top: 10px;

    li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255,255,255,.2);

        a {
            display: block;

            font-family: $title-font-family;
            font-size: 1.35rem;
            color: $header-logo-color;
            color: $brand-color1;

            padding: 10px 0;

            @include respond-to(medium) {
                font-size: 2rem;
            }
        }
    }
}